@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<<<<<< Updated upstream
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
||||||| merged common ancestors
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
=======
<div class="jumbotron">
    <h1>Ignis Mercado</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>¿Qué es Ignis Mercado?</h2>
        <p>
            Es un programa universitario para incentivar el desarrollo del mercado audiovisual y
            la inserción al sector de estudiantes, egresados y docentes. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Qué es la Base de Técnicos Audiovisuales? </h2>
        <p>Es una base de datos con los contactos de interesados en sumarse a proyectos audiovisuales coordinados o apoyados por el Centro Ignis. Pueden ser oportunidades generadas tanto por el propio Centro como por otras unidades académicas de la Universidad Católica del Uruguay (UCU), particulares y organizaciones externas. </p>
    </div>
    <div class="col-md-4">
        <h2>¿Quienes pueden integrar la Base de Técnicos Audiovisuales?</h2>
        <p>Estudiantes y egresados de las licenciaturas en Comunicación, Ingeniería Audiovisual y Artes Visuales que deseen generar experiencias laborales profesionales. </p>
    </div>
</div>
>>>>>>> Stashed changes
